body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header h1 {
    font-size: 2em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

h2 {
    font-size: 1.8em;
}

p {
    font-size: 1.1em;
    margin: 10px;
}

.background img {
    width: 100%;
    height: auto;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
}

.animation1 {
	position: absolute;
	left: 10%;
}

.animation1 img {
	width: 100px;
    height: auto;
}

.animation2 {
	position: absolute;
	right: 10%;
}

.animation2 img {
	width: 100px;
    height: auto;
}

.events, .info, .setumei {
    padding: 15px;
    border-radius: 10px;
    margin-top: 80px;
}

.banner, .banner2 {
    text-align: center;
    margin-top: 80px;
}

.banner img, .banner2 img {
    width: 90%;
    max-width: 1200px;
    height: auto;
    transition: transform 0.2s ease-in-out;
}

.banner img:hover, .banner2 img:hover {
    transform: scale(1.05);
}

.slideshow {
    width: 100%;
    overflow: hidden;
    background-color: #87cefa;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.slideshow-wrapper {
    width: 100%;
    max-width: 1200px;
    overflow: hidden;
    position: relative;
}

.slideshow-container {
    display: flex;
    gap: 15px;
    width: max-content;
    animation: infiniteSlide 15s linear infinite;
}

.slideshow-container img {
    width: 150px;
    height: auto;
}

.rule{
	text-align: center;
	margin-top: 50px;
}

.rule img{
	width: 200px;
	hight: auto;
}

@keyframes infiniteSlide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

.slideshow-container:hover {
    animation-play-state: paused;
}

footer {
    background: #87cefa;
    color: #fff;
    text-align: center;
    padding: 5% 0;
}

/* スマホ対応 */
@media screen and (max-width: 768px) {
    header h1 {
        font-size: 1.8em;
    }
    
    h2 {
        font-size: 1.5em;
    }
    
    p {
        font-size: 1em;
    }
	
    main {
        margin-top: 30px;
        padding: 15px;
    }
    
    .animation1 {
	position: absolute;
	left: 10%;
}

.animation1 img {
	width: 100px;
    height: auto;
}

.animation2 {
	position: absolute;
	right: 10%;
}

.animation2 img {
	width: 100px;
    height: auto;
}
	
	.rule{
	text-align: center;
	margin-bottom: 70px;
}

.rule img{
	width: 200px;
	hight: auto;
}
    
    .banner img, .banner2 img {
        width: 100%;
    }
	
	.banner2{
		margin-bottom: 100px;
	}
    
    .slideshow-container img {
        width: 120px;
    }
    
    .events, .info, .setumei {
        margin-top: 50px;
        padding: 10px;
    }
	
	.events h2{
		margin-top: 100px;
	}
    
    .slideshow {
        padding: 20px 0;
    }
}
